#poslani.section
	.c100
		.text.fs36.fsp0 !{poslani.full[0]}
	if(preview)
		.btn-container
			a.fs20.main-button(href="/poslani") čtěte více
				i.bi.bi-arrow-right
	else
		.hr-blue
		.flex
			.c40.align-top
				.text.fs20.fsp0 !{poslani.full[1]}
				.text.fs20.fsp0 !{poslani.full[2]}
			.c40.align-top
				.text.fs20.fsp0 !{poslani.full[3]}
				.text.fs20.fsp0 !{poslani.full[4]}
			.c20.align-bottom.avatar
				img(src="/media/images/tomas_trzicky.webp" alt="Tomáš Tržický")
				br
				.text.fs20.fsp0.no-bp.fw600 Tomáš Tržický
				.text.fs20.fsp0.fw300 Managing Partner
		.hr-blue
		.flex
			.c40.align-top(style="padding-bottom: 0px;")
					h2.fs36.fsp0.text.blue Tomáš Tržický
		.flex
			.c40.align-top
				.text.fs20.fsp0 V roce 1994 zahájil společně se svým otcem podnikání v oblasti výroby a distribuce tradičních lahůdkářských výrobků, společnost Tržan lahůdky s.r.o. V roce 2018 úspěšně prodal formou MBO stávajícímu řediteli a pro společnost v současné době poskytuje poradenské služby v oblasti nákupu surovin a byznys developmentu.			
			.c40.align-top
				.text.fs20.fsp0 Více než 10 let se též věnuje podnikání v oblasti nemovitostí, ať už formou developmentu nebo správy a údržby nemovitostí. Mezi nejvýznamnější a nejúspěšnější projekty patří rekonstrukce a následný pronájem 2 objektů na poděbradské kolonádě, které si z větší části pronajímá společnost Laplace s.r.o.			
			.c20