#poslani.section
	.c100
		.text.fs36.fsp0 !{poslani.full[0]}
	if(preview)
		.btn-container
			a.main-button(href="/poslani") čtěte více
				i.bi.bi-arrow-right
	else
		.hr-blue
		.flex
			.c40.align-top
				.text.fs20.fsp0 !{poslani.full[1]}
			.c40.align-top
				.text.fs20.fsp0 !{poslani.full[2]}
				.text.fs20.fsp0 !{poslani.full[3]}
				.text.fs20.fsp0 !{poslani.full[4]}
			.c20.align-top
				img.avatar(src="/media/images/tomas_trzicky.webp" alt="Tomáš Tržický")
				be
				.text.fs20.fsp0.no-bp.fw600 Tomáš Tržický
				.text.fs20.fsp0.fw300 Managing Partner